
@{
    ViewBag.Title = "Autores";
}

<div class="container">
    <div class="row">
        <h4 class="display-1" align="center">SerCon Help Desk </h4>
        <br />
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="../images/ocondo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sergio Barahona</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="../images/ocondo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Oscar Conejeros Donoso</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="list-group">
            <br />
            <button type="button" class="list-group-item list-group-item-action">Leonardo Norambuena</button>
            <button type="button" class="list-group-item list-group-item-action">Programacion Avanzada</button>
            <button type="button" class="list-group-item list-group-item-action">17 Julio 2020</button>
        </div>
        <br />
    </div>


</div>
<div class="bottom-left" align="right">
    <svg class="bi bi-arrow-left-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
    </svg>
    <a href="/Home/Index">Volver</a>
</div>

