
@{
    ViewBag.Title = "Asignacion";
}


<div class="card-header">
    <h3 class="card-title" align="center">
        Asignación de Ticket
    </h3>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-darker">
            <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Prioridad</th>
                <th>Técnico</th>
                <th>Asignar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2020-06-26</td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>ABIERTO</option>
                        <option>EN GESTION</option>
                        <option>CERRADO</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Seleccionar Prioridad</option>
                        <option>ALTA</option>
                        <option>MEDIA</option>
                        <option>BAJA</option>
                    </select>
                </td>
                <td><select class="form-control" id="exampleFormControlSelect1">
                        <option>Seleccionar Técnico</option>    
                        <option>Christian Vittori</option>
    
</select></td>
                <td><i class="fas fa-paper-plane"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="bottom-left" align="right">
        <svg class="bi bi-arrow-left-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.646 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L6.207 7.5H11a.5.5 0 0 1 0 1H6.207l2.147 2.146z" />
        </svg>
        <a href="/Admin/Index">Volver</a>
    </div>
</div>
