@{
    ViewBag.Title = "Index";
}
<div class="panel-title" align="center">
    <h2>ADMINISTRADOR</h2>
</div>
<br />
<div class="card">
    <div class="panel-body text-center">
        <br />
        <div class="center-block"><i class="fa fa-fw fa-4x fa-cogs" style="color:#B31D16"></i></div>
        <br /><h4>Configuración Plataforma</h4>
        <a href="/establecimiento/index" class="btn btn-info btn btn-xs">Crear Establecimientos</a>
        <a href="/auth/register" class="btn btn-info btn-xs">Crear Usuarios</a>
        <a href="/requerimiento/index" class="btn btn-info btn-xs">Configurar Requerimientos</a>
        <a href="/prioridad/index" class="btn btn-info btn-xs">Configurar Prioridad</a>
        <p></p><br />
    </div>
</div><br />
<div class="card">
    <div class="panel-body text-center">
        <br />
        <div class="center-block"><i class="fa fa-fw fa-4x fa-send" style="color:#B31D16"></i></div>
        <br /><h4>Asignación de Tickets</h4>
        <a href="/auth/login" class="btn btn-info">Comprobar sus Tickets</a>
        <p></p><br />
    </div>
</div><br />
<div class="card">
    <div class="panel-body text-center">
        <br />
        <div class="center-block">
            <i class="fa fa-fw fa-4x fa fa-download" style="color:#B31D16"></i>
        </div>
        <br /><h4>Informes</h4>

        <a href="#" class="btn btn-info">Comprobar sus Tickets</a>
        <p></p><br />
    </div>
</div>



