
@{
    ViewBag.Title = "Inicio de Sesión";
}
<br />
<div class="card">
    <div class="col-sm-12">
        
            <div align="center">
                <br />
                <img src="../images/man.png"/>
            </div>
             <form class="col-sm-12" action="/auth/SignIn" method="post" align="center">
                 <br />
                    @Html.AntiForgeryToken()
                    <div class="form-group" id="user-group">
                        <input type="email" class="form-control" placeholder="Nombre de usuario" name="Email" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="Password" />
                    </div>
                    <button type="submit" class="btn btn-info"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                 <p></p><br />
                </form>
                
        
    </div>
</div>