
@{
    ViewBag.Title = "Listado";
}

<h2>Listado Usuarios</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-darker">
            <tr>
                <th>#</th>
                <th>Fecha Ingreso</th>
                <th>Estado</th>
                <th>Requerimiento</th>
                <th>Técnico Asignado</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#</td>
                <td>2020-06-25</td>
                <td>Internet</td>
                <td>Sin Internet</td>
                <td>Christian Vittori</td>
                <td>Abierto</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm" title="Modificar">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-sm" title="Eliminar">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>


