<nav class="navbar navbar-expand-lg navbar-dark bg-info text-white">
    <a class="navbar-brand" href="/home/index"><img src="../images/sercon_logo.png" style="height:10%; margin-top:-3px;margin-right:5px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/auth/login">Inicio de sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Cerrar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/register">Registrar</a>
            </li> 
        </ul>
    </div>
</nav>

